.folder-container {
  margin: 1rem;
  @include wh(fit-content, fit-content);
  border: black solid 3px;
  position: relative;
}

.folder-link-name {
 // @include max-wh();
 margin: 0px;
 font-size: 20px;
 position: absolute;
 top: 300px;
 left: 55px;
 font-family: $josefin;
 font-weight: bold;
  
}

.folder {
  @include wh(10rem, 8.75rem);
  @include flex-row();
  @include center-xy();
  // @include max-wh();
  // background-image: url('../../assets/folder.png');
  background-size: contain;
  background-repeat: no-repeat;
  // background-position-x: 60%;
  // background-position-y: 50%;
}

.icon {
  @include wh(2rem, 2rem);
}

.folder2 {
  height: 350px;
  width: auto;
}

.edit {
  background: none;
  height: 30px;
  width: 30px;
}

.folder-detatils {
  @include flex-row()
}

.folder-buttons {
  position: absolute;
  top: 325px;
  left: 55px;
}