.menu {
  @include wh(50%, 100%);
  @include flex-row();
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
}

.menu-divider {
  font-size: 1rem;
}

.navlink {
  // margin-left: 35px;
}
