.resource-container {
  position: relative;
  margin: 2rem 1rem;
  // border: black 3px solid;
  @include wh(20rem, 18rem);
  border-radius: 10px;
  @include flex-column();
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.resource-img {
  @include wh(100%, 65%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
}

.img-container {
  @include wh(100%, 75%);

}

.des-container {
  @include flex-column();
  align-items: center;
  justify-content: center;
}

.icons {
  margin-top: 5px;
  z-index: 1;
}

.move-icon {
  position: absolute;
  z-index: 2;
  @include wh(40px, 40px);
  right: 20px;
  top: 10px;
}

.move-icon:hover {
  cursor: move;
}
