// utilities
@import 'utilities/_normalize';
@import 'utilities/_reset';
@import 'utilities/_responsive';

// base
@import 'base/_variables';
@import 'base/_mixins';
@import 'base/_typography';

// layouts
@import 'layouts/_base-layout';
@import 'layouts/_App';
@import 'layouts/_Header';
@import 'layouts/_Logo';
@import 'layouts/_Menu';
@import 'layouts/_LandingBlock1';

// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
//
// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
