// utilities
@import 'utilities/_normalize';
@import 'utilities/_reset';
@import 'utilities/_responsive';

// base
@import 'base/_variables';
@import 'base/_mixins';
@import 'base/_typography';
@import 'base/_palettes';
@import 'base/_themes';

// layouts
@import 'layouts/_base-layout';
@import 'layouts/_App';
@import 'layouts/_Header';
@import 'layouts/_Logo';
@import 'layouts/_Menu';
@import 'layouts/_LandingBlock1';
@import 'layouts/_LandingBlock2';
@import 'layouts/_Features';
@import 'layouts/LandingBlock3';
@import 'layouts/how';
@import 'layouts/LandingBlock4';
@import 'layouts/Testimony';
@import 'layouts/_Profile';
@import 'layouts/_Gallery';


// modules
@import 'modules/_AddForm';
@import 'modules/_Folder';
@import 'modules/_Resource';
@import 'modules/_Loading';
