// utilities
@import 'utilities/_normalize';
@import 'utilities/_reset';
@import 'utilities/_responsive';
@import 'utilities/_animations';

// base
@import 'base/_variables';
@import 'base/_mixins';
@import 'base/_fonts';
@import 'base/_typography';
@import 'base/_palettes';
@import 'base/_themes';

// layouts
@import 'layouts/_base-layout';
@import 'layouts/_Header';
@import 'layouts/_LandingBlock1';
@import 'layouts/_LandingBlock2';
@import 'layouts/_Features';
@import 'layouts/_LandingBlock3';
@import 'layouts/_How';
@import 'layouts/_LandingBlock4';
@import 'layouts/_Profile';
@import 'layouts/_Gallery';
@import 'layouts/_Footer';
@import 'layouts/_Creators';


// modules
@import 'modules/_AddForm';
@import 'modules/_Folder';
@import 'modules/_Resource';
@import 'modules/_Loading';
@import 'modules/_Logo';
@import 'modules/_Menu';
@import 'modules/_LightDarkModeToggle';
@import 'modules/_TextEditor';
@import 'modules/_FourOhFour';
