footer {
  @include wh(100%, 286px);
  @include flex-row();
  background-color: #EBD0D1;
  color: white;
  justify-content: space-around;
  font-family: $josefin;
  font-size: 25px;
}

.left-side-footer {
  @include flex-column();
  justify-content: center;
  position: relative;
}

.links-top {
  @include flex-row();
  position: relative;
}

.links-bottom {
  @include flex-row();
  position: relative;
}

.thumbtack-footer {
  @include wh(75px, auto);
  margin-left: 50px;
}

.get-app {
  @include flex-column();
  justify-content: center;
  position: relative;
}

.footer-link {
  margin-top: 20px;
  margin-left: 50px;
  cursor: pointer;
}

.fake-icon {
  margin-top: 20px;
}

.fake-icon:hover {
  cursor: pointer;
}

.fake-btn {
  width: 100px;
  top: 40px;
  background-color: white;
  color: black;
  font-size: 12px;
  border: black solid 3px;
  position: absolute;
}

.fake-links {
  width: 100px;
  top: 35px;
  left: 150px;
  background-color: white;
  color: black;
  font-size: 12px;
  border: black solid 3px;
  position: absolute;
}