.gallery {
  margin-top: 5rem;
  @include wh(100%, 100%);
  @include flex-row();
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.folder-name {
  position: sticky;
  position: -webkit-sticky;
  top: 0rem;
  width: 100%;
  background-color: white;
  font-size: 2rem;
}

.gallery-items {
  @include wh(100%, 100%);
  @include flex-row();
  @include center-xy();
  justify-content: space-around;
  flex-wrap: wrap;
  // overflow-y: scroll;
  margin: 0 2rem;
}
