.gallery {
  @include wh(100%, 100%);
  @include flex-row();
  flex-wrap: wrap;
  overflow-y: scroll;

}

.folder-name-container {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 0rem;
  padding: 0 0 .5rem 1rem;
  z-index: 3;
}

.gallery-items {
  @include wh(100%, 95%);
  @include flex-row();
  @include center-xy();
  justify-content: space-around;
  flex-wrap: wrap;
}
