.header {
  position: fixed;
  @include flex-row();
  @include wh(100%, 5rem);
  justify-content: space-between;
  z-index: 4;
  background-color: $header-background;
  font-family: $main-font;
  font-weight: $main-font-bold;
  color: $main-font-color;
}
