.block3 {
  background-color: $secondary-background-color;
  font-family: $comfortaa;
  height: 125vh;
}

.how-it-works {
  text-align: center;
  padding: 100px;
  font-size: 40px;
  font-family: $pacifico;
  font-weight: $main-font-bold;
  color: $black-coral;
  text-shadow: $text-shadow-light;;
}