.logo {
  width: 237px;
  height: 140px;
  background-color: $logo-background-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-title {
  margin: 0px;
  color: $logo-font-color;
}

.thumbtack-icon {
  width: 40px;
  height: 40px;
}