// fonts
$raleway: 'Raleway', sans-serif;
$raleway-dots: 'Raleway Dots', cursive;
$comfortaa: 'Comfortaa', cursive;
$josefin: 'Josefin Sans', sans-serif;
$pacifico: 'Pacifico', cursive;

// font weights
$main-font-bold: 600;
$main-font-light: 300;
