// light
$columbia-blue-dark: #AFC6D0;
$columbia-blue-mid: #B8D0DB;
$columbia-blue-light: #C0DAE5;
$light-gray: #D6D5DB;
$lavender-blush: #E1D3D6;
$pale-pink-dark: #EBD0D1;
$pale-pink-light: #EDD4D5;

// dark
$rich-black-fogra: #121212;
$jungle-green-dark: #19201E;
$jungle-green-light: #1C2321;
$deep-space-sparkle: #4D5E61;
$pewter-blue: #7D98A1;
$slate-gray-dark: #6E7F8A;
$slate-gray-light: #768C96;
$black-coral: #5E6572;
$cadet-blue-crayola: #A9B4C2;
$cultured: #EEF1EF;
