$main-font: $raleway;
$logo-font: $raleway;
$navlink-font: $comfortaa;

.logo-title {
  font-family: $logo-font;
  font-size: 3rem;
}

.navlink {
  font-family: $navlink-font;
  font-size: 1.5rem;
}

.username {
  font-family: $pacifico;
  font-size: 4rem;
}

.add-form {
  font-family: $josefin;
  font-size: 1.5rem;
}

.resource-name {
  font-family: $josefin;
  font-size: 1.25rem;
  margin-top: 1.15rem;
}

.folder-name {
  font-family: $josefin;
  font-size: 2rem;
}

.filepath-current-folder {
  font-weight: bolder;
}

.prompt-when-empty {
  font-family: $josefin;
  font-size: 2rem;
}

.contains-info {
  font-family: $josefin;
  font-size: 1.25rem;
}

.four-oh-four {
  font-family: $josefin;
  font-size: 3rem;
  text-align: center;
}

.feature-app-name-callout {
  font-weight: bold;
}
