$box-shadow-light: 0px 0px 32px 16px rgba(10, 10, 10, 0.1);
$main-font-bold: 600;
$main-font-light: 300;
$header-background: #031C52;
$hover-font-color: #4B4BA9;
$main-font-color: #F2F7FF;
$logo-background-color: #F2F7FF;
$logo-font-color: #031C52;
$feature-font-color: #5453BA;
$secondary-background-color: #F2F7FF;
$testimony-1-background: #7D7DFF;